<div class="photos-container">
  <div class="container">
  <h3>ARTWORK</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <%= render 'shared/artworkcard' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <%= render 'shared/artworkcard' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <%= render 'shared/artworkcard' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <%= render 'shared/artworkcard' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <%= render 'shared/artworkcard' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <%= render 'shared/artworkcard' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <%= render 'shared/artworkcard' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <%= render 'shared/artworkcard' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <%= render 'shared/artworkcard' %>
      </div>
    </div>
  </div>
</div>

